*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root{
    --corCinza: rgb(196, 194, 194);
    --corAzul: rgb(0, 140, 255);
}

.container{
    background: linear-gradient(white, gray, black);
    height: 100vh;
}
/* Background */
.background{
    display: flex;
    justify-content: center;
}

/* Logo */
.logo{
    position: absolute;
    left: 50px;
    top: 50px;
}

.logo img{
    width: 110px;
    height: 110px;
}




/* header */
header{
    position: absolute;
    top: 330px;
    margin-left: 50px;
    height: 300px;
}

text{
    margin-top: 150px;
}
.about{
    width: 350px;
    color: white;
}

.text p{
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.design-border{
    margin-top: 30px;
}

.design-border li{
    display: inline-block;
    width: 50px;
    height: 5px;
    border-radius: 5px;
}

.design-border li:nth-child(2), .design-border li:nth-child(3){
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.design-border li:first-child{
    background-color: white;
}





/* Main */
.btns img{
    width: 20px;
    height: 20px;
}

span img{
    height: 20px;
    width: 20px;
}

.background{
    background-color: white;
    width: 800px;
    height: 100vh;
    margin-left: 550px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.salute h1{
    margin-bottom: 10px;
    color: rgb(38, 123, 219);
}


.inputs{
    margin-top: 50px;
    margin-right: 200px;
}

.inputs p{
    color: var(--corCinza);
    text-align: left;
    margin-bottom: 10px;
}

.inputs input{
    border: 1px solid var(--corCinza);
    outline: none;
    padding: 10px;
    border-radius: 2px;
}

.inputs input::placeholder{
    color: var(--corCinza);
}

.salute p{
    color: var(--corCinza);
}


.mail input{
    margin-bottom: 20px;
    width: 210%;
}

.pass input{
    width: 210%;
}


.remember{
    text-align: left;
}

.remember span{
    margin-left: 10px;
    color: var(--corAzul);
    font-weight: bold;
    font-size: 16px;
}

.btns{
    margin-top: 50px;
}

.btnSign-In{
    margin-bottom: 50px;
}

.btnSign-In img{
    margin-right: 100px;
}

.btnSign-In button{
    width: 370px;
    padding: 10px;
    background-color: var(--corAzul);
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .3s;
}

.btnSign-In span{
    position: absolute;
    left: 150px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.btnSign-In button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.loginGoogle{
    display: inline-block;
    margin-right: 100px;
}

.loginGoogle button{
    width: 130px;
    border-radius: 50px;
    padding: 5px;
    border: none;
    outline: none;
    padding-top: 7px;
    box-shadow: 0 5px 20px gray;
    transition: .5s;
}

.loginGoogle button:hover{
    transform: scale(1.05);
    background-color: white;
    cursor: pointer;
}

.loginGoogle span{
    position: absolute;
    right: 30px;
    bottom: 7px;
    font-size: 16px;
    font-weight: bolder;
    color: var(--corCinza);
}

.loginGoogle button img{
    margin-right: 50px;
}

.loginLinkedin{
    display: inline-block;
}

.loginLinkedin button{
    width: 130px;
    border-radius: 50px;
    padding: 5px;
    border: none;
    outline: none;
    padding-top: 7px;
    box-shadow: 0 5px 20px gray;
    transition: .5s;
}

.loginLinkedin span{
    position: absolute;
    right: 30px;
    bottom: 7px;
    font-size: 16px;
    font-weight: bolder;
    color: var(--corCinza);
}

.loginLinkedin button img{
    margin-right: 50px;
}

.loginLinkedin button:hover{
    transform: scale(1.05);
    background-color: white;
    cursor: pointer;
}

/* Aside */
aside{
    position: absolute;
    top: 30px;
    right: 50px;
}

.btnSignin{
    display: flex;
    justify-content: flex-end;
}

.btnSignin img{
    margin-left: 15px;
}

.btnSignin span{
    position: absolute;
    left: 0;
    top: 12px;
}

.btnSignin button{
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 140, 255);
    border: none;
    transition: .5s;
}

.btnSignin button:hover{
    background-color: rgb(10, 113, 197);
    cursor: pointer;
    font-size: 17px;
    transform: scale(1.1);
}

/* Footer */
footer{
    width: 400px;
    position: absolute;
    top: 600px;
    margin-left: 30px;
}
.socials img{
    width: 25px;
    margin-left: 20px;
}

.socials li{
    display: inline-block;
}

.copy li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 50px;
    color: white;
}

.copy a{
    text-decoration: none;
    color: white;
}












